/* --- DestinationCard --- */
.destination-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.destination-card .destination-info {
  max-width: 430px;
}

.destination-card .destination-info article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.destination-card .destination-info article h2 {
  font-family: var(--bellefair);
  font-size: 5.5rem;
}

.destination-card .destination-info article hr {
  border-color: rgba(255, 255, 255, 0.3);
}

.destination-card .destination-info article .distance-info-container {
  display: flex;
  gap: 5rem;
}

/* --- DistanceInfo --- */
.distance-info h3 {
  font-size: .8rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
 
.distance-info p {
  font-family: var(--bellefair);
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* --- DestinationMenu --- */
.destination-menu {
  margin-bottom: 2rem;
}

.destination-menu ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.destination-menu ul li a {
  text-decoration: none;
  letter-spacing: 2px;
  padding: 8px 0;
  transition: .4s;
}

.destination-menu ul li a:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.destination-menu ul li a.active {
  border-bottom: 3px solid #FFF;
}


/* --- MEDIA QUERIES --- */
/* --- Tablet --- */
@media screen and (max-width: 960px) {
  /* DestinationCard */
  .destination-card {
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
  }

  .destination-card img {
    width: 50%;
  }

  .destination-card .destination-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
  }

  .destination-card .destination-info article {
    align-items: center;
    text-align: center;
  }

  .destination-card .destination-info article hr {
    width: 100%;
  }

  /* DestinationMenu */
  .destination-menu ul {
    gap: 2rem;
  }
}

/* --- Mobile --- */
@media screen and (max-width: 700px) {
  /* DestinationCard */
  .destination-card .destination-info {
    max-width: 100%;
  }

  .destination-card .destination-info article hr {
    display: none;
  }

  .destination-card .destination-info article .distance-info-container {
    flex-direction: column;
    gap: 1.5rem;
  }
}