/* --- TechnologyCard --- */
.technology-card {
  display: flex;
  gap: 2rem;
}

.technology-card .technology-card-aside {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.technology-card .technology-card-aside article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.technology-card .technology-img {
  display: flex;
  justify-content: center;
  height: fit-content;
  margin-right: -120px;
}

.technology-card .technology-img .portrait {
  height: 100%;
}

.technology-card .technology-img .landscape {
  display: none;
}

/* --- TechnologyMenu --- */
.technology-menu {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 2rem;
}

.technology-menu a button {
  background-color: transparent;
  height: 65px;
  width: 65px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  font-size: 1.5rem;
  font-family: var(--bellefair);
  cursor: pointer;
  transition: .4s;
}

.technology-menu a button:hover {
  border-color: #FFF;
}

.technology-menu a.active button {
  background-color: #FFF;
  color: var(--blue-900);
}


/* --- MEDIA QUERIES --- */
/* --- Tablet --- */
@media screen and (max-width: 960px) {
  /* TechnologyCard */
  .technology-card {
    flex-direction: column;
    padding-top: 2rem;
  }

  .technology-card .technology-card-aside {
    order: 1;
    flex-direction: column;
  }

  .technology-card .technology-card-aside article {
    align-items: center;
    text-align: center;
  }
  
  .technology-card .technology-card-aside article p {
    max-width: 80%;
  }

  .technology-card .technology-img {
    width: 100vw;
    margin-left: -3rem;
  }

  .technology-card .technology-img .portrait {
    display: none;
  }

  .technology-card .technology-img .landscape {
    display: block;
    height: 100%;
    width: 100%;
  }

  /* TechnologyMenu */
  .technology-menu {
    flex-direction: row;
    gap: 1.5rem;
  }
}

/* --- Mobile --- */
@media screen and (max-width: 700px) {
  /* TechnologyCard */
  .technology-card .technology-card-aside article p {
    max-width: 100%;
  }

  .technology-card .technology-img {
    height: 400px;
  }
  
  .technology-card .technology-img .landscape {
    width: auto;
  }

  /* TechnologyMenu */
  .technology-menu a button {
    height: 60px;
    width: 60px;
  }
}