.main-destination {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  background-image: url("imgs/destination/background-destination-desktop.jpg");
  background-position: center;
  background-size: cover;
}

.main-crew {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-image: url("imgs/crew/background-crew-desktop.jpg");
  background-position: center;
  background-size: cover;
}

.main-technology {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-image: url("imgs/technology/background-technology-desktop.jpg");
  background-position: top;
  background-size: cover;
}


/* --- MEDIA QUERIES --- */
/* --- Mobile --- */
@media screen and (max-width: 700px) {
  .main-destination {
    background-image: url("imgs/destination/background-destination-tablet.jpg");
  }

  .main-crew {
    background-image: url("imgs/crew/background-crew-tablet.jpg");
  }

  .main-technology {
    background-image: url("imgs/technology/background-technology-tablet.jpg");
  }
}

/* --- Mobile --- */
@media screen and (max-width: 700px) {
  .main-destination,
  .main-crew,
  .main-technology {
    align-items: center;
  }

  .main-destination {
    background-image: url("imgs/destination/background-destination-mobile.jpg");
  }

  .main-crew {
    background-image: url("imgs/crew/background-crew-mobile.jpg");
  }

  .main-technology {
    background-image: url("imgs/technology/background-technology-mobile.jpg");
  }
}