/* --- DestinationLayout --- */
.main-destination {
  background-image: url("imgs/destination/background-destination-desktop.jpg");
  background-position: center;
  background-size: cover;
}

.main-destination .destination-container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

/* --- CrewLayout --- */
.main-crew {
  background-image: url("imgs/crew/background-crew-desktop.jpg");
  background-position: center;
  background-size: cover;
}

.main-crew .crew-container {
  display: flex;
  flex-direction: column;
  gap: 2rem; 
}

/* --- TechnologyLayout --- */
.main-technology {
  background-image: url("imgs/technology/background-technology-desktop.jpg");
  background-position: top;
  background-size: cover;
}

.main-technology .technology-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}


/* --- MEDIA QUERIES --- */
/* --- Mobile --- */
@media screen and (max-width: 700px) {
  .main-destination {
    background-image: url("imgs/destination/background-destination-tablet.jpg");
  }

  .main-crew {
    background-image: url("imgs/crew/background-crew-tablet.jpg");
  }

  .main-technology {
    background-image: url("imgs/technology/background-technology-tablet.jpg");
  }
}

/* --- Mobile --- */
@media screen and (max-width: 700px) {
  .main-destination,
  .main-crew,
  .main-technology {
    align-items: center;
  }

  .main-destination {
    background-image: url("imgs/destination/background-destination-mobile.jpg");
  }

  .main-crew {
    background-image: url("imgs/crew/background-crew-mobile.jpg");
  }

  .main-technology {
    background-image: url("imgs/technology/background-technology-mobile.jpg");
  }
}